# This is a workflow that builds the container and pushes it to Dockerhub

name: Check Python Interpreters

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out the flask-app repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade pip
        if: ${{ matrix.python-version != 2.7 }}

      - name: Install Python 3 dependencies
        run: python -m pip install --upgrade pip
        if: ${{ matrix.python-version != 2.7 }}

      - name: Install Python 2 dependencies
        run: curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py && python2 get-pip.py
        if: ${{ matrix.python-version == 2.7 }}
